/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
}

/* RULES */
body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button {
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
}

.postcard {
    background-color: #fff;
    max-width: 500px;
    border-radius: 3px;
}

.postcard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 25px;
}

h1 {
  font-size: 3rem;
}

img {
  width: 100px;
  height: auto;
}

.postcard-content {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 25px 15px;
}

.postcard-content-left {
  margin-right: 15px;
}

input {
  float: right;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 5px;
}

.postcard-submit {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

button {
  border: 1px solid #c3c3c3;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}