/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
}

/* RULES */
body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button {
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
}

.postcard {
    background-color: #fff;
    width: 80vw;
    max-width: 500px;
    border-radius: 3px;
}

.postcard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 25px;
}

h1 {
  font-size: 1.5rem;
}

img {
  width: 50px;
  height: auto;
}

.postcard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 25px 15px;
}

.postcard-content-text {
  margin-bottom: 15px;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 5px;
}

.postcard-submit {
  display: flex;
  padding: 0 15px 40px 15px;
}

button {
  border: 1px solid #c3c3c3;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}


@media screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  img {
    width: 100px;
  }

  .postcard-content {
    flex-direction: row;
  }

  .postcard-content-text {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .postcard-submit {
    justify-content: center;
  }
  
}